.stApp > header {
    background-color:#FFF2F2 ;
}

.stApp {
    margin: auto;
    font-family: 'Courier New', Monospace; /* Changed font to Arial */
    overflow: auto;
    background-color: #7886C7; /* Changed to a solid color */
}
.stMarkdown p {
    font-family: 'Courier New', Monospace;
    font-size: 18px;
    color: #FFFFFF;
}
html, body, [class*="css"] {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}