<style>
    button[kind="secondary"],
    button[kind="secondary"] {
        width: 100%;
        height: 50px;
        background-color: #FFFFFF;
        color: #2D336B;
        padding: 0;
        border-radius: 15px;
        border: none;
        margin-top: 50px; 
        transition: background-color 0.2s, transform 0.1s ease-in-out;
    }

    button[kind="secondary"]:hover,
    button[kind="secondary"]:active {
        background-color: #ECECEC;
        color: #2D336B;
        transform: scale(0.98);
    }
</style>
